

/*
aside p {
    color: red;
    word-spacing: 6mm;
}
section p {
    color: blue;
    word-spacing: 6mm;
}

h1, h2, h3{
    font-family: cursive;
}

.aviso{
    background-color: red;
    color: yellow;
}*/

tr:nth-child(odd){
    background-color: #5e68b3;
    color: yellow;
    
}

tr:nth-child(even){
    background-color: #9c02c8;
    color: yellow;
    
}

thead tr th{
    background-color: black;
    color: white
    
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 90px 20px 0;
    background-color: whitesmoke;
}

.header{
    position: fixed;
    top: 0;
    margin-left: 0;
    height: 90px;
    width: 100%;
    background-color: #076AF0;
}

.nav{
    display: flex;
   justify-content: space-between;
   margin:  0 auto;
}
.nav-link{
     color: white;
     text-decoration: none;
}

.nav-menu{
     display: flex;
     list-style: none;
     margin-right: 40px;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px
   
}

.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5s;
}

.nav-menu-link:hover { 
    background-color: #024070;
    border-radius: 10px;
    
}

.logo{
    font-size: 30px;
    font-weight: bold;
   
    padding: 0 40px;
    line-height: 90px
}

aside{
    position: fixed;
    top:90px;
    margin-left: 0;
    bottom: 20px;
    width: 20%;
    
}
section{
    overflow-y: scroll;
    position: fixed;
    top: 90px;
    left: 20%;
    bottom:20px; 
    width: 80%;
    background-color: aquamarine;
}

footer{
    text-align: center;
    background-color: black;
    position: fixed;
    left: 0;
    bottom:0; 
    height:20px; 
    width: 100%;
    color: white
}